# Database Snapshots

dbatools makes using database snapshots easier than ever.

- Take a snapshot of database
- Drop a table or run a rogue update
- Get the table back

## View our database snapshots
Database snapshots have a `source_database_id` value that relates to the database they were created from.

In [ ]:
select name, database_id, source_database_id, is_read_only
from sys.databases
where name like 'Northwind%'

## View the current state

In [ ]:
USE Northwind

SELECT TOP 10 EmployeeID, LastName, FirstName, HomePhone
FROM Employees

SELECT TOP 10 OrderId, ProductId, UnitPrice, Quantity, Discount
FROM [Order Details]

## Time for some fun - Rogue changes

In [ ]:
USE Northwind

UPDATE Employees
SET HomePhone = '330-329-6691'

TRUNCATE TABLE [Order Details]

## Uh-oh - my data!

In [ ]:
USE Northwind

SELECT TOP 10 EmployeeID, LastName, FirstName, HomePhone
FROM Employees

SELECT TOP 10 OrderId, ProductId, UnitPrice, Quantity, Discount
FROM [Order Details]

## Let's Fix this from our snapshot
We have two options here
1. Pull certain data out of the snapshot to fix our mistakes
1. Revert the whole databases to the point in time the snapshot was taken

### Option 1 - Get the data to fix PersonPhone

In [ ]:
-- Update the data from the table within our snapshot - joining on Primary Key
UPDATE e 
SET HomePhone = se.HomePhone
FROM Northwind.dbo.Employees e
INNER JOIN Northwind_20220616_195638.dbo.Employees se
    ON e.EmployeeID = se.EmployeeID

-- Check the data
SELECT TOP 10 EmployeeID, LastName, FirstName, HomePhone
FROM Northwind.dbo.Employees

### Option 2 - Revert to the time the snapshot was taken
Back to PowerShell...

## View the data again

In [ ]:
USE Northwind

SELECT TOP 10 EmployeeID, LastName, FirstName, HomePhone
FROM Employees

SELECT TOP 10 OrderId, ProductId, UnitPrice, Quantity, Discount
FROM [Order Details]